<h1>Hacker News Klohn</h1>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><a href="<%= post.link %>" target= "_blank"><%= post.title %></a></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Upvote',
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<br>

<%= link_to 'New Post', new_post_path, :class => 'btn btn-danger' %>
